<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <td>Name</td>
                <td>type</td>

                <td>image</td>
            </tr>
            {%for ck in cakes%}
            <tr>
                <td>{{ck.name}}</td>
                <td>{{ck.type}}</td>
                
                <td>
                    <img src="{{ck.image.url}}" alt="" width="100px" height="200px" style="object-fit: contain;">
                </td>
                <td>
                    <a href="{%url 'cake-remove' ck.id%}">delete</a>
                    <a href="{%url 'add-varient' ck.id%}">add cakevarient</a>
                    <a href="{%url 'cake-detail' ck.id%}">view</a>
                </td>

                
            {%endfor%}
        </table>
    </div>

    
</body>
</html>